<br><br><br><br>
  <footer id="footerStyle" class="row">
      
        <nav class="navbar navbar-default">
        
          <div class="navbar-header">
           
           <h1 class="titreLogo">Hozoo</h1>
          </div>
      
          <div class="pull-right">
          <div class="collapse navbar-collapse" id="myNavbar">
           
             <button type="button" class= "btn btn-lg btn-warning">S'inscrire</button>
              
            <button type="button" class= "btn btn-lg btn-warning">Se connecter</button>
              
          </div>
          </div>
        </nav>
</footer>